In [13]:

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import numpy as np
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [35]:
heartdata = pd.read_csv('heart_kaggle_project.csv')
heartdata.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [36]:
heartdata = heartdata.reindex(np.random.permutation(heartdata.index))
heartdata.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
79,58,1,2,105,240,0,0,154,1,0.6,1,0,3,1
96,62,0,0,140,394,0,0,157,0,1.2,1,0,2,1
160,56,1,1,120,240,0,1,169,0,0.0,0,0,2,1
83,52,1,3,152,298,1,1,178,0,1.2,1,0,3,1
224,54,1,0,110,239,0,1,126,1,2.8,1,1,3,0
240,70,1,2,160,269,0,1,112,1,2.9,1,1,3,0
286,59,1,3,134,204,0,1,162,0,0.8,2,2,2,0
38,65,0,2,155,269,0,1,148,0,0.8,2,0,2,1
107,45,0,0,138,236,0,0,152,1,0.2,1,0,2,1
124,39,0,2,94,199,0,1,179,0,0.0,2,0,2,1

In [37]:
heartdata = heartdata.reset_index(drop=True)
heartdata.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,58,1,2,105,240,0,0,154,1,0.6,1,0,3,1
1,62,0,0,140,394,0,0,157,0,1.2,1,0,2,1
2,56,1,1,120,240,0,1,169,0,0.0,0,0,2,1
3,52,1,3,152,298,1,1,178,0,1.2,1,0,3,1
4,54,1,0,110,239,0,1,126,1,2.8,1,1,3,0
5,70,1,2,160,269,0,1,112,1,2.9,1,1,3,0
6,59,1,3,134,204,0,1,162,0,0.8,2,2,2,0
7,65,0,2,155,269,0,1,148,0,0.8,2,0,2,1
8,45,0,0,138,236,0,0,152,1,0.2,1,0,2,1
9,39,0,2,94,199,0,1,179,0,0.0,2,0,2,1

In [38]:
heartdata[['age', 'trestbps', 'chol', 'thalach']] = StandardScaler().fit_transform(heartdata[['age', 'trestbps', 'chol', 'thalach']])
heartdata.head(10)

C:\Users\kathy\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\kathy\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0.400752,1,2,-1.520560,-0.121055,0,0,0.190365,1,0.6,1,0,3,1
1,0.841908,0,0,0.478391,2.855069,0,0,0.321556,0,1.2,1,0,2,1
2,0.180175,1,1,-0.663867,-0.121055,0,1,0.846322,0,0.0,0,0,2,1
3,-0.260980,1,3,1.163746,0.999823,1,1,1.239897,0,1.2,1,0,3,1
4,-0.040403,1,0,-1.234996,-0.140381,0,1,-1.034089,1,2.8,1,1,3,0
5,1.724218,1,2,1.620649,0.439384,0,1,-1.646316,1,2.9,1,1,3,0
6,0.511041,1,3,0.135714,-0.816773,0,1,0.540209,0,0.8,2,2,2,0
7,1.172774,0,2,1.335085,0.439384,0,1,-0.072018,0,0.8,2,0,2,1
8,-1.033002,0,0,0.364165,-0.198357,0,0,0.102904,1,0.2,1,0,2,1
9,-1.694735,0,2,-2.148802,-0.913400,0,1,1.283627,0,0.0,2,0,2,1

In [39]:
heartdata.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,3.030000e+02,303.000000,303.000000,3.030000e+02,3.030000e+02,303.000000,303.000000,3.030000e+02,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,7.456448e-17,0.683168,0.966997,-6.789582e-16,-9.819794e-17,0.148515,0.528053,-5.774625e-16,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,1.001654e+00,0.466011,1.032052,1.001654e+00,1.001654e+00,0.356198,0.525860,1.001654e+00,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,-2.797624e+00,0.000000,0.000000,-2.148802e+00,-2.324160e+00,0.000000,0.000000,-3.439267e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-7.572802e-01,0.000000,0.000000,-6.638668e-01,-6.814943e-01,0.000000,0.000000,-7.061105e-01,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,6.988599e-02,1.000000,1.000000,-9.273778e-02,-1.210553e-01,0.000000,1.000000,1.466343e-01,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,7.316189e-01,1.000000,2.000000,4.783913e-01,5.456738e-01,0.000000,1.000000,7.151309e-01,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,2.496240e+00,1.000000,3.000000,3.905165e+00,6.140401e+00,1.000000,2.000000,2.289429e+00,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [40]:
y = heartdata['target']
y.head()

0    1
1    1
2    1
3    1
4    0
Name: target, dtype: int64

In [41]:
x = heartdata.drop('target', axis = 1)
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0.400752,1,2,-1.520560,-0.121055,0,0,0.190365,1,0.6,1,0,3
1,0.841908,0,0,0.478391,2.855069,0,0,0.321556,0,1.2,1,0,2
2,0.180175,1,1,-0.663867,-0.121055,0,1,0.846322,0,0.0,0,0,2
3,-0.260980,1,3,1.163746,0.999823,1,1,1.239897,0,1.2,1,0,3
4,-0.040403,1,0,-1.234996,-0.140381,0,1,-1.034089,1,2.8,1,1,3

In [42]:
#Random Forest here
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2) 
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=10)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)

from sklearn import metrics

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7704918032786885

In [44]:
#normalize age trestbps chol thalach for models other than random forest