In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [21]:
heartdata = pd.read_csv('heart_kaggle_project.csv')
heartdata = heartdata.reindex(np.random.permutation(heartdata.index))

In [22]:
heartdata.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
171,48,1,1,110,229,0,1,168,0,1.0,0,0,3,0
258,62,0,0,150,244,0,1,154,1,1.4,1,0,2,0
162,41,1,1,120,157,0,1,182,0,0.0,2,0,2,1
217,63,1,0,130,330,1,0,132,1,1.8,2,3,3,0
104,50,1,2,129,196,0,1,163,0,0.0,2,0,2,1
216,62,0,2,130,263,0,1,97,0,1.2,1,1,3,0
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
213,61,0,0,145,307,0,0,146,1,1.0,1,0,3,0
207,60,0,0,150,258,0,0,157,0,2.6,1,2,3,0
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1

In [23]:
y = heartdata['target']
x = heartdata.drop('target', axis = 1)

In [26]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
171,48,1,1,110,229,0,1,168,0,1.0,0,0,3
258,62,0,0,150,244,0,1,154,1,1.4,1,0,2
162,41,1,1,120,157,0,1,182,0,0.0,2,0,2
217,63,1,0,130,330,1,0,132,1,1.8,2,3,3
104,50,1,2,129,196,0,1,163,0,0.0,2,0,2

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [27]:
print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)

X_train shape: (242, 13)
y_train shape: (242,)

In [28]:
print("X_test shape:", X_test.shape)
print("y_test shape:", y_test.shape)

X_test shape: (61, 13)
y_test shape: (61,)