In [38]:

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import numpy as np
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [74]:
heartdata = pd.read_csv('heart_kaggle_project.csv')
heartdata.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [75]:
heartdata = heartdata.reindex(np.random.permutation(heartdata.index))
heartdata.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
62,52,1,3,118,186,0,0,190,0,0.0,1,0,1,1
39,65,0,2,160,360,0,0,151,0,0.8,2,0,2,1
250,51,1,0,140,298,0,1,122,1,4.2,1,3,3,0
152,64,1,3,170,227,0,0,155,0,0.6,1,0,3,1
107,45,0,0,138,236,0,0,152,1,0.2,1,0,2,1

In [76]:
heartdata = heartdata.reset_index(drop=True)
heartdata.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,3,118,186,0,0,190,0,0.0,1,0,1,1
1,65,0,2,160,360,0,0,151,0,0.8,2,0,2,1
2,51,1,0,140,298,0,1,122,1,4.2,1,3,3,0
3,64,1,3,170,227,0,0,155,0,0.6,1,0,3,1
4,45,0,0,138,236,0,0,152,1,0.2,1,0,2,1

In [77]:
y = heartdata['target']
x = heartdata.drop('target', axis = 1)

In [87]:
#Random Forest here
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2) 
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=10)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)

from sklearn import metrics

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8032786885245902

In [79]:
#normalize age trestbps chol thalach for models other than random forest

In [81]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,3,118,186,0,0,190,0,0.0,1,0,1
1,65,0,2,160,360,0,0,151,0,0.8,2,0,2
2,51,1,0,140,298,0,1,122,1,4.2,1,3,3
3,64,1,3,170,227,0,0,155,0,0.6,1,0,3
4,45,0,0,138,236,0,0,152,1,0.2,1,0,2

In [80]:
ss = StandardScaler()
scaledx = pd.DataFrame(ss.fit_transform(x),columns = x.columns)

C:\Users\kathy\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\kathy\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [82]:
scaledx.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,-0.260980,0.681005,1.973123,-0.778093,-1.164631,-0.417635,-1.005832,1.764663,-0.696631,-0.896862,-0.649113,-0.714429,-2.148873
1,1.172774,-1.468418,1.002577,1.620649,2.198003,-0.417635,-1.005832,0.059173,-0.696631,-0.206705,0.976352,-0.714429,-0.512922
2,-0.371269,0.681005,-0.938515,0.478391,0.999823,-0.417635,0.898962,-1.209011,1.435481,2.726460,-0.649113,2.224104,1.123029
3,1.062485,0.681005,1.973123,2.191778,-0.372287,-0.417635,-1.005832,0.234095,-0.696631,-0.379244,-0.649113,-0.714429,1.123029
4,-1.033002,-1.468418,-0.938515,0.364165,-0.198357,-0.417635,-1.005832,0.102904,1.435481,-0.724323,-0.649113,-0.714429,-0.512922
5,1.283063,0.681005,-0.938515,-0.663867,1.077125,-0.417635,-1.005832,0.059173,-0.696631,-0.551783,-0.649113,-0.714429,-0.512922
6,-0.481558,0.681005,1.002577,-0.149851,-0.971377,-0.417635,0.898962,0.583939,-0.696631,-0.896862,0.976352,-0.714429,-0.512922
7,-0.260980,0.681005,-0.938515,-0.206964,0.168827,-0.417635,0.898962,0.496478,1.435481,-0.896862,0.976352,0.265082,1.123029
8,0.400752,0.681005,-0.938515,-0.206964,-0.584867,-0.417635,-1.005832,-0.815437,1.435481,1.001069,-0.649113,2.224104,1.123029
9,1.062485,-1.468418,-0.938515,2.762907,1.521611,-0.417635,0.898962,0.190365,1.435481,-0.896862,0.976352,-0.714429,-0.512922

In [83]:
scaledx.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
count,3.030000e+02,3.030000e+02,3.030000e+02,3.030000e+02,3.030000e+02,3.030000e+02,3.030000e+02,3.030000e+02,3.030000e+02,3.030000e+02,3.030000e+02,3.030000e+02,3.030000e+02
mean,6.503782e-17,-1.568236e-16,-1.905333e-17,-7.108359e-16,-1.161520e-16,2.762733e-16,2.125179e-16,-6.200577e-16,6.815230e-17,-1.227474e-16,-3.444256e-17,-5.807602e-17,1.113887e-16
std,1.001654e+00,1.001654e+00,1.001654e+00,1.001654e+00,1.001654e+00,1.001654e+00,1.001654e+00,1.001654e+00,1.001654e+00,1.001654e+00,1.001654e+00,1.001654e+00,1.001654e+00
min,-2.797624e+00,-1.468418e+00,-9.385146e-01,-2.148802e+00,-2.324160e+00,-4.176345e-01,-1.005832e+00,-3.439267e+00,-6.966305e-01,-8.968617e-01,-2.274579e+00,-7.144289e-01,-3.784824e+00
25%,-7.572802e-01,-1.468418e+00,-9.385146e-01,-6.638668e-01,-6.814943e-01,-4.176345e-01,-1.005832e+00,-7.061105e-01,-6.966305e-01,-8.968617e-01,-6.491132e-01,-7.144289e-01,-5.129219e-01
50%,6.988599e-02,6.810052e-01,3.203122e-02,-9.273778e-02,-1.210553e-01,-4.176345e-01,8.989622e-01,1.466343e-01,-6.966305e-01,-2.067053e-01,-6.491132e-01,-7.144289e-01,-5.129219e-01
75%,7.316189e-01,6.810052e-01,1.002577e+00,4.783913e-01,5.456738e-01,-4.176345e-01,8.989622e-01,7.151309e-01,1.435481e+00,4.834512e-01,9.763521e-01,2.650822e-01,1.123029e+00
max,2.496240e+00,6.810052e-01,1.973123e+00,3.905165e+00,6.140401e+00,2.394438e+00,2.803756e+00,2.289429e+00,1.435481e+00,4.451851e+00,9.763521e-01,3.203615e+00,1.123029e+00

In [88]:

x_train, x_test, y_train, y_test = train_test_split(scaledx, y, test_size=0.3) 
print("x_train shape:", x_train.shape)
print("y_train shape:", y_train.shape)

from sklearn.ensemble import RandomForestClassifier

clf=RandomForestClassifier(n_estimators=10)
clf.fit(x_train, y_train)
y_pred=clf.predict(x_test)

from sklearn import metrics

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

x_train shape: (212, 13)
y_train shape: (212,)
Accuracy: 0.7802197802197802

In [10]:
#normalize age trestbps chol thalach for models other than random forest

x_train shape: (242, 13)
y_train shape: (242,)